.smartbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center
}

.smartbar-text {
    font-size: 11.25pt;
    font-size: 1.425rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 42px;
    font-weight: 400
}

.smartbar-link-logo {
    display: none
}

.site-header__menu {
    float: left;
    margin-right: 15px;
    margin-right: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 3px
}

.site-header__hamburger {
    float: left;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 10px
}

.site-header__hamburger-text {
    display: none
}

.site-header__hamburger-line {
    top: 12px
}

.site-header__home-link {
    float: left;
    padding: 10px;
    border-left: 1px solid #ddd
}

.site-header__bug-link {
    display: inline-block
}

.site-header__centerpiece {
    display: block;
    width: 40%;
    margin: 0 auto;
    text-align: center
}

.site-header__centerpiece-link {
    font-size: 31.5pt;
    font-size: 3.99rem;
    font-family: "Benton Sans Bold", Helvetica, Arial, sans-serif;
    line-height: 1;
    font-weight: 800;
    color: #000;
    padding-bottom: 2px;
    border-bottom: 1px solid #000;
    text-decoration: none;
    padding-bottom: 0;
    border-bottom: none
}

.site-head {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.site-nav {
    display: block;
    clear: both;
    width: 100%;
    text-align: center
}

.site-nav__item {
    display: inline-block;
    position: relative;
    padding: 5px 5px 0;
    padding: 0.5rem 0.5rem 0;
    border: 1px solid transparent;
    transition: border 0.3s
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 20%;
    padding: 10px;
    height: 300px;
}